# -----------------------------------------------------------------------------
# Copyright (c) 2009-2021, Shotgun Software Inc.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
#  - Redistributions of source code must retain the above copyright notice, this
#    list of conditions and the following disclaimer.
#
#  - Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.
#
#  - Neither the name of the Shotgun Software Inc nor the names of its
#    contributors may be used to endorse or promote products derived from this
#    software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
# FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
# SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
# OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

parameters:
  # Using the most formal way of defining parameters so we don't define a
  # default value for mandatory parameters. This way, CI will fail if we forget
  # to pass it when invoking the template.

  - name: codecov_download_url
    type: string

  - name: os_name
    type: string

  - name: python_version
    type: string

  - name: vm_image
    type: string

jobs:
- job:
  displayName: "${{ parameters.os_name }} - Python ${{ parameters.python_version }}"
  pool:
    vmImage: ${{ parameters.vm_image }}

  variables:
    group: sg-credentials

  # These are the steps that will be executed inside each job.
  steps:
  # Specifies which version of Python we want to use.
  # TODO: We should provide `githubToken` if we want to download a python release.
  #       Otherwise we may hit the GitHub anonymous download limit.
  - task: UsePythonVersion@0
    inputs:
      versionSpec: ${{ parameters.python_version }}

  # Install all dependencies needed for running the tests. This command is good
  # for all OSes
  - task: Bash@3
    displayName: Install dependencies
    inputs:
      targetType: inline
      script: |
        set -e
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools wheel
        python -m pip install --upgrade --requirement tests/requirements.txt

  # The {{}} syntax is meant for the the pre-processor of Azure pipeline. Every statement inside
  # a {{}} block will be evaluated and substituted before the file is parsed to create the jobs.
  # So here we're inserting an extra step if the template is being invoked for Windows.
  - ${{ if eq(parameters.os_name, 'Windows') }}:
    # On Windows, we need to update the certificates, the cert store is missing the newer one
    # from Amazon like some clients experienced a while back. Who would have thought Microsoft
    # would have been out of date! ;)
    - powershell: |
        $cert_url = "https://www.amazontrust.com/repository/SFSRootCAG2.cer"
        $cert_file = New-TemporaryFile
        Invoke-WebRequest -Uri $cert_url -UseBasicParsing -OutFile $cert_file.FullName
        Import-Certificate -FilePath $cert_file.FullName -CertStoreLocation Cert:\LocalMachine\Root
      displayName: Updating OS Certificates

  # Runs the tests and generates both test report and code coverage
  - task: Bash@3
    displayName: Running tests
    inputs:
      targetType: inline
      script: |
        set -e
        cp ./tests/example_config ./tests/config
        python -m pytest \
          --cov \
          --cov-report xml:coverage.xml \
          --durations=0 \
          --nunit-xml=test-results.xml \
          --verbose \
    env:
      # Tell Pytest that we're running in a CI environment
      CI: 1

      # Pass the values needed to authenticate with the Flow Production Tracking site and create some entities.
      # Remember, on a pull request from a client or on forked repos, those variables
      # will be empty!
      SG_SERVER_URL: $(ci_site)
      SG_SCRIPT_NAME: $(ci_site_script_name)
      SG_API_KEY: $(ci_site_script_key)
      # The unit tests manipulate the user and project during the tests, which can cause collisions,
      # so sandbox each build variant.
      # Ideally, we would use the agent name here. The problem is that the agent name is in a build
      # variable, so we can't edit it's value through a ${{replace(a,b,c)}} expression, which are evaluated before
      # build variables are available. Because of this, we need to find another way to generate a
      # unique login. So instead, we'll use the the name of the platform and the python version,
      # which should make it unique.
      SG_HUMAN_LOGIN: $(python_api_human_login)-${{ parameters.os_name }}-${{ parameters.python_version }}
      # This will give a user name like 'something macOS 2.7'
      SG_HUMAN_NAME: $(python_api_human_name) ${{ parameters.os_name }} ${{ parameters.python_version }}
      SG_HUMAN_PASSWORD: $(python_api_human_password)
      # So, first, we need to make sure that two builds running at the same time do not manipulate
      # the same entities, so we're sandboxing build nodes based on their name.
      SG_PROJECT_NAME: Python API CI - $(Agent.Name)
      # The entities created and then reused between tests assume that the same user is always
      # manipulating them. Because different builds will be assigned different agents and therefore
      # different projects, it means each project needs to have an entity specific to a given user.
      # Again, this would have been a lot simpler if we could simply have had a login based on the
      # agent name, but alas, the agent name has a space in it which needs to be replaced to something
      # else and string substitution can't be made on build variables, only template parameters.
      SG_ASSET_CODE: CI-$(python_api_human_login)-${{ parameters.os_name }}-${{ parameters.python_version }}
      SG_VERSION_CODE: CI-$(python_api_human_login)-${{ parameters.os_name }}-${{ parameters.python_version }}
      SG_SHOT_CODE: CI-$(python_api_human_login)-${{ parameters.os_name }}-${{ parameters.python_version }}
      SG_TASK_CONTENT: CI-$(python_api_human_login)-${{ parameters.os_name }}-${{ parameters.python_version }}
      SG_PLAYLIST_CODE: CI-$(python_api_human_login)-${{ parameters.os_name }}-${{ parameters.python_version }}

  # Explicit call to PublishTestResults@2 and PublishCodeCoverageResults@2 here
  # instead of relying on pytest-azurepipelines because pytest-azurepipelines
  # does not seem to be maintained anymore and is still using earlier versions
  # of the PublishTestResults and PublishCodeCoverageResults Azure Pipelines
  # jobs.

  - task: PublishTestResults@2
    displayName: Publish test results
    inputs:
      failTaskOnFailureToPublishResults: true
      failTaskOnMissingResultsFile: true
      testResultsFiles: test-results.xml
      testResultsFormat: NUnit
      testRunTitle: "${{ parameters.os_name }} - Python ${{ parameters.python_version }}"
    condition: succeededOrFailed()

  - task: PublishCodeCoverageResults@2
    displayName: Publish code coverage
    inputs:
      summaryFileLocation: coverage.xml
      failIfCoverageEmpty: true

  - task: Bash@3
    displayName: Uploading coverage to Codecov.io
    inputs:
      targetType: inline
      script: |
        set -e
        curl --remote-name --silent "${{ parameters.codecov_download_url }}"
        chmod +x codecov
        ./codecov  \
          --file coverage.xml \
          --flags "${{ parameters.os_name }}" \
          --flags "Python-${{ parameters.python_version }}" \
          --name "Tested on ${{ parameters.os_name }} with Python ${{ parameters.python_version }}" \
