# Copyright (c) 2018 Shotgun Software Inc.
#
# CONFIDENTIAL AND PROPRIETARY
#
# This work is provided "AS IS" and subject to the Shotgun Pipeline Toolkit
# Source Code License included in this distribution package. See LICENSE.
# By accessing, using, copying or modifying this work you indicate your
# agreement to the Shotgun Pipeline Toolkit Source Code License. All rights
# not expressly granted therein are reserved by Shotgun Software Inc.
#
# coverage configuration - used by https://coveralls.io/ integration
#
#

[run]
source=shotgun_api3
omit=
    shotgun_api3/lib/httplib2/*
    shotgun_api3/lib/certify/*
    shotgun_api3/lib/pyparsing.py
