# Copyright (c) 2019 Shotgun Software Inc.
#
# CONFIDENTIAL AND PROPRIETARY
#
# This work is provided "AS IS" and subject to the Shotgun Pipeline Toolkit
# Source Code License included in this distribution package. See LICENSE.
# By accessing, using, copying or modifying this work you indicate your
# agreement to the Shotgun Pipeline Toolkit Source Code License. All rights
# not expressly granted therein are reserved by Shotgun Software Inc.

#python specific
*.pyc

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.bak

# test related
tests/config
.coverage
.cache
.travis-solo
htmlcov
test-output.xml
coverage.xml

# setup related
build
dist
shotgun_api3.egg-info
/%1
